/* App.css */
.full-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.container {
  max-width: 100%; 
  margin: 0 auto; 
}

.ant-spin {
  font-size: 24px;
}
